.home{
    /* background-color: red; */
    /* background-image:url(https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783__480.jpg) ;
  width: 100px;
  height: 100px;
  margin-left: 200px; */
}

/* div button{
    padding: 200px;
    margin-top: 200px;
} */
/* .button{ */
    /* margin-top: 400px; */
    /* margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 600px; */
/* } */






